<footer>
  <div class="menubar">
    <ul>
      <li>
        <a href="http://slack.kedgeproject.org/">Chat about Kedge on Slack</a>
      </li>
      <li>
        <a href="https://github.com/kedgeproject/kedge/releases">Releases</a>
      </li>
      <li>
        <a href="https://github.com/kedgeproject/kedge">Kedge on GitHub</a>
      </li>
    </ul>
  </div>
  <p>Brought to you by the same team that develops Kompose</p>
  <a href="https://github.com/kubernetes/kompose"><img class="logos" src="/img/kubernetes.png"></img></a>
  <p class="misc">{{ site.license }}<br>{{ site.copyright }}</p>
</footer>
