<div id="sub" class="examples">
  <div class="spacing">

    <h3>Pick from an example and see what Kedge is all about!</h3>

    <p>Choose from multiple Kedge examples to deploy:</p>
    <li><a href="https://github.com/kedgeproject/kedge/tree/master/examples/wordpress">Wordpress</a></li>
    <li><a href="https://github.com/kedgeproject/kedge/tree/master/examples/gitlab">GitLab</a></li>
    <li><a href="https://github.com/kedgeproject/kedge/tree/master/examples/guestbook-demo">Kubernetes Guestbook</a></li>

  </div>
</div>
