<div id="sub" class="demo">
  <div class="spacing">
    <h3>Avoid writing long artifact files, deploy an application straight to a Kubernetes cluster</h3>
    <div class="demoexample">
      <div class="democode">
        {% include kedgeexample.html %}
      </div>
      <div class="demoto">
        <span class="httpd">httpd.yaml<span class="arrow">→</span></span>
      </div>
      <div class="demogif">
        <img src="/img/demo.gif"></img>
      </div>
      <p>View our <a href="/file-reference">file referencet</a> for a complete overview on what Kedge can do.</p>
    </div>
  </div>
</div>
